INSTALL.txt
LICENSE.txt
README.txt
demos/
extras/documentation

/nbproject/private/
/docs/db/scripts/bdd_20120828.sql
/docs/db/scripts/basic_data.sql
application/configs
/public/installer.lock
/public/uploads/cache

application/.DS_Store

public/.DS_Store

public/css/.DS_Store

public/images/.DS_Store

public/js/.DS_Store

public/uploads/.DS_Store

.DS_Store
